.menu_section {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .background_menu {
    height: 100vh;
    width: 100vw;
    background: url("/background_intro.png") no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
  }
  .slider {
    height: 100vh;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40.77px;
    position: absolute;
    user-select: none;
    cursor: grab;

    .card {
      width: 856px;
      height: 550px;
      aspect-ratio: 1;
      overflow: hidden;
      cursor: pointer;
      border-radius: 9px;
      background-color: #1b1b1b;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &:hover {
        img {
          opacity: 0.8;
        }
      }

      img {
        transition: 0.4s ease-in-out;
        width: 101%;
        height: 101%;
        display: block;
        object-fit: cover;
        pointer-events: none;
        position: absolute;
      }

      .card_name_container {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        .card_name {
          font-size: 110px;
          font-family: "AvenirNextLTPro-Bold";
          color: #ffff;
        }
      }

      .infinit_name_slider_container {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        .infinit_name_slider {
          font-size: 110px;
          font-family: "AvenirNextLTPro-Bold";
          color: #ffff;

          .slider-inner {
            position: relative;
            white-space: nowrap;
            p.text-copy {
              display: inline-block;
              margin: 0;
            }
            p.text-copy:nth-of-type(2) {
              position: absolute;
              left: 100%;
              top: 0;
            }
          }
        }
      }
    }
  }

  .drag_to_use {
    position: absolute;
    bottom: 30px;
    font-size: 16px;
    color: #ffd657;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;

    .drag_tuto {
      width: 20px;
      height: 20px;
      background: blue;
    }
  }
}
