.gradient {
  background: linear-gradient(180deg, #24202e, #24202e00);
  width: 100vw;
  height: 195px;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.navbar {
  .nav_container {
    position: fixed;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
      font-size: 14px;
      cursor: pointer;
      text-transform: uppercase;
      color: #ffffff;
      &:nth-child(odd) {
        margin: 0 20px;
      }
    }

    .burger {
      height: 15px;
      width: 17px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6.5px;
      .burger_bar {
        width: 17px;
        height: 1.41px;
        background: #ffffff;
      }
    }
  }
}
