.intro_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .background_intro {
    height: 100vh;
    width: 100vw;
    background: url("/background_intro.png") no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
  }

  .intro_nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .heading,
  .new_heading {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title_container {
      font-size: 96px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;

      .title_1_container,
      .title_2_container,
      .title_3_container,
      .title_4_container {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  .new_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .start_experience {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      margin-top: 78px;
      border: solid 2px #ffd657;
      width: 285px;
      height: 56px;
      .cta_text {
        color: #ffd657;
        font-size: 16px;
        text-transform: uppercase;
      }

      .arrow {
        background-color: red;
        width: 10px;
        height: 10px;
      }
    }
  }
}
