.intro_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .background_intro {
    height: 100vh;
    width: 100vw;
    background: url("/background_intro.png") no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
  }

  .intro_nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
  }

  .heading,
  .new_heading {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title_container {
      font-size: 66px;
      display: flex;
      max-width: 1200px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;

      .title_1_container,
      .title_2_container,
      .title_3_container,
      .title_4_container {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  .new_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cta_container {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      .start_experience {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-top: 78px;
        border: solid 2px #ffd657;
        width: 285px;
        height: 56px;
        transition: 0.3s ease;

        &:hover {
          background: #ffd657;

          .cta_text {
            color: #1b1b1b;
          }

          .arrow_icon {
            path {
              stroke: #1b1b1b;
            }
          }
        }
        .cta_text {
          color: #ffd657;
          font-size: 16px;
          text-transform: uppercase;
          transition: 0.3s ease;
          padding-top: 8px;
        }

        .arrow {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}
